* {
    padding: 0px;
    margin: 0px;
}
.header {
    height: 150px;
    background-color: red;
}

.content {
    background-color: lightgrey;
}

.footer {
    height: 100px;
    background-color: green;
}
