
@import "./Demo/app.less";

:global(.clearfix:after) {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: @body-bg-color;
    font-family: Tahoma;
    font-size: 10pt;
    height: 100vh;
}

.app {
    // display: flex;
    // flex-direction: column;
    width: 800px;
    height: inherit;
    margin: 0 auto;
    background-color: @app-bg-color;
    .header {
        float: left;
        width: inherit;
        height: 150px;
        padding: 0.1px;
        background: @header-bg-color;
        background-image: url('../www/lego1_cut.jpg'); // fallback
        //background-image: url('/lego1.jpg'), linear-gradient(#eb01a5, #d13531); /* W3C */
        .title {
            background-color: rgba(140,150,150,.8);
            font-size: 24pt;
            color: hsl(230, 20%, 95%);
            border: 2px solid hsl(0, 0%, 80%, 1);
            border-radius: 10px;
            margin: 20px;
            padding: 20px;
        }
    }

    .content {
        float: left;
        width: inherit;
        height: auto;
        // margin-bottom: @header-height;
        background-color: @content-bg-color;

    }

    .footer {
        width: inherit;
        height: 20px;
        position: fixed;
        bottom: 0px;
        z-index: 1000;
        background-color: @footer-bg-color;

        -webkit-transition-duration: .5s;
        transition-duration: .5s;

        -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
        transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );

        -webkit-transition-property: -webkit-height;
        transition-property: height;
    }

    .footer:hover {
        height: @footer-height;
    }
}

.TabView {
    // height: inherit;
    :global(.ButtonBar) {
        border-bottom: 1px solid lightgrey;
        :global(.Button) {
            padding: 2px 6px 3px;
            font-size: 10pt;
            color: grey;
        }
        :global(.Button.selected) {
            font-weight: bold;
            color: hsl(0, 0%, 30%);
        }
    }
    :global(.Tabs) {
        height: 100%;
        :global(.Tab) {
            height: 100%;
            padding: 10px;
        }
    }
}

